body {
    margin: 60px auto;
    width: 70%;
}

.topnav {
    display: inline;
    color: grey; 
}

.topnav p{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 10px; 
    font-size: 0.8em; 
    display: inline;
}

.topnav button#home:hover {
    background-color: rgb(105, 192, 250); 
    color: white; 
    
}

.topnav button {
    display: inline; 
    color: white; 
    border: none; 
    text-align: center; 
    margin: 0px;
    padding: 10px 30px;
}

.search.input {
    padding: 10px; 
    
}

.searchMenu p {
    font-size: 0.8em;
    line-height: 1em;
    color: red;
}

.news-list {
    list-style-type: none;
    padding: 0px;
}

.news-list li div{
    width: 800px;
    border: 1px solid grey;
    border-radius: 5px;
    border-color: rgb(105, 192, 250);
    padding: 0px;  
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.news-list li div div{
    display: inline;
    width: 600px;
    border: none;
    padding: 0px;
    margin: 5px;
    
}

.news-list li div div a{
    color: black;
    font-size: 16px; 
    text-decoration: underline;
    font-style: bold;
    padding: 5px;
    margin: 0px;
}

.previewText{
    color: grey;
    font-size: 12px;
    width: 600px; 
    padding: 5px;
    margin: 0px;
}

.preview{ 
    
    color: black;
    font-size: 12px; 
    width: 600px; 
    padding: 5px;
    margin: 0px;
}

.news-list li div img{
    display: inline; 
    width: 150px;
    height: 150px;
    padding: 50px;
    margin: 20px;
    object-fit: cover; 
    
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul li p {
    font-color: grey;
}

footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}



